.list_image{
	width: 30%;
	height: 35px;
}
.font{
	font-size: 20px;
}
.list_image_user{
	width: 10%;
	height:35px;
}

.timeline ul li {
    position: relative !important;
    padding-left: 180px !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}
.mb_margin{
	margin-bottom: 0px !important;
}

.widget {
    min-width: 250px;
    /*max-width: 310px;*/
}

.ui-ribbon-container {
    position: relative;
}

/*.x_content {
    padding: 0 5px 6px;
    float: left;
    clear: both;
    margin-top: 5px;
}*/
.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
	border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.x_panel, .x_title {
    margin-bottom: 10px;
}

/*.fixed_height_390 {
    height: 390px;
}*/

.ui-ribbon-container .ui-ribbon-wrapper {
    position: absolute;
    overflow: hidden;
    width: 85px;
    height: 88px;
    top: -3px;
    right: -3px;
}

.divider {
    border-bottom: 1px solid 
    #ddd;
    margin: 10px;
}
ul.widget_tally, ul.widget_tally li {
    width: 100%;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}
.x_panel, .x_title {
    margin-bottom: 10px;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
}

.widget_tally_box .name_title {
    text-align: center;
    margin: 5px;
}

.widget_tally_box p, .widget_tally_box span {
    text-align: center;
}
.ui-ribbon-container .ui-ribbon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
	transform: rotate(45deg);
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	line-height: 20px;
	background-color:#555;
	box-shadow: 0 0 3px
    rgba(0,0,0,.3);
}

.list-group-item i{
	padding-top: 10px;
}