@charset "utf-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: url("../../media/common/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

p {
    text-align: justify;
}

.bn {
    font-family: SolaimanLipi, "Siyam Rupali", Vrinda;
}

.bn h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: SolaimanLipi, "Siyam Rupali", Vrinda;
}


/*Common*/

.DPadding0 {
    padding: 0;
}

.DMargin0 {
    margin: 0;
}

.img100 {
    width: 100%;
}

.DPaddingTop10 {
    padding-top: 10px;
}

.DPaddingTop20 {
    padding-top: 20px;
}

.DPaddinL0 {
    padding-left: 0;
}

.DMarginTop10 {
    margin-top: 10px;
}

.DMarginTop15 {
    margin-top: 15px;
}

.DMarginTop20 {
    margin-top: 20px;
}

.DMarginBottom20 {
    margin-bottom: 20px;
}

.DFont9 {
    font-size: 0.9em;
}


/*Header-Footer*/

.DHeaderTop {
    background: #086534;
    padding: 3px 0;
}

.DHelpLine p {
    margin-top: 4px;
    color: #fff;
}

.DHeaderSearch .navbar-form {
    margin: 0;
}

.DHeaderSearch .form-control {
    height: 28px;
    padding: 4px 12px;
}

.DHeaderSearch .btn {
    padding: 3px 12px;
}

.DSocialLink a i {
    color: #fff;
}

.DSocialLink a .fa-facebook-square:hover {
    color: #415CAC;
}

.DSocialLink a .fa-twitter-square:hover {
    color: #3FA1DA;
}

.DSocialLink a .fa-instagram:hover {
    color: #FF8850;
}

.DSocialLink a .fa-google-plus-square:hover {
    color: #E3411F;
}

.DSocialLink a .fa-youtube-square:hover {
    color: #CA3737;
}

.DHeaderNav .navbar-default {
    margin-bottom: 0;
    margin-top: 5px;
    background: #00B181;
    border: #086534;
    min-height: 40px;
}

.DHeaderNav .navbar-default .navbar-nav li a {
    color: #fff;
    padding: 10px 15px;
}

.DHeaderNav .navbar-default .navbar-nav li a:hover {
    background: #086534;
}

.DHeaderNav .navbar-default .navbar-nav .dropdown-menu {
    background: #00B181;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #00B181;
    color: #ffffff;
}

.DHeaderNav .navbar-default .navbar-nav .dropdown-menu li a:hover {
    background: #086534;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a:hover {
    text-decoration: none;
}

@media (min-width:768px) {
    ul.nav li:hover>ul.dropdown-menu {
        display: block;
    }
    #navbar {
        text-align: center;
    }
}

.DFTop {
    background: #;
    margin: 0;
    padding-top: 20px;
}

.DFooterBG {
    background: #;
    margin: 0;
}

.DServiceListA {
    height: 10px;
    ;
}

.DFBottom {
    padding: 30px 15px 20px 15px;
}

.DFBottom p {
    color: #444;
    text-align: center;
}

.DFBottom p a {
    color: #80D2ED;
}

.DFooterLink {
    padding: 0;
    margin: 0;
}

.DFooterLink li {
    border-right: 1px solid #d8d8d8;
    display: inline-block;
    padding: 5px 10px;
}

.DFooterLink li:last-child {
    border-right: none;
}

.DFooterLink li:hover {
    background: #777777;
}


/*Body*/

.DScroll {
    background-color: #eaeaea;
    margin: 10px 0;
}

.DScroll .col-sm-1 {
    font-size: 15px;
    padding: 5px 10px;
    background-color: #00B181;
    color: #fff;
}

.DScroll .col-sm-11 {
    color: #000;
    padding: 5px 10px;
}

.DScroll marquee {
    margin-top: px;
}

.DScroll .col-sm-11 .fa-play {
    color: #00B181;
    margin: 0 5px 0 10px;
}

.DMainContain {
    background: #fff;
    margin: 0;
    padding-bottom: 20px;
}

.DLeftContain h3 {
    margin: 15px 0 0 0;
    color: #0f9142;
    font-weight: bold;
    font-size: 20px;
}

.DLeftContain .DVideoInfo {
    background: #eaeaea;
    padding: 5px;
}

.DLeftContain .DVideoInfo .fa-play {
    color: #AB1E36;
    font-size: 24px;
}

.DLeftContain .DNewsList {
    background: #eaeaea;
    margin: 5px 0 0 0;
    padding: 8px 0;
}

.DLeftContain .DNewsList .col-sm-4 {
    padding: 0;
}

.DImportantLink .list-group-item.active {
    background: #0f9142;
    font-weight: bold;
}

.DImportantLink .list-group-item.active:hover {
    background: #0f9142;
    font-weight: bold;
}

.DImportantLink .list-group-item:hover {
    background: #E7F8DF;
}

.DMainSlider h3 {
    margin: 15px 0 10px 0;
    color: #0f9142;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
}

.DAboutTarabo h3 {
    color: #0f9142;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.DAboutTarabo h4 {
    color: #717171;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.DAboutTarabo p a {
    color: #0f9142;
    padding-top: 10px;
}

.DPhotoGallery .carousel-caption {
    padding: 10px 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    bottom: 0;
}

.DService .DServiceList {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #000;
    cursor: pointer;
    float: ;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.DService .DServiceList h5 {
    margin: 0 0 5px 0;
    color: #00B181;
    font-size: 16px;
}

.border_bottom {
    border-bottom: 2px solid #00B181;
    margin-bottom: 10px;
}

.DTitle {
    background: #00B181;
    padding: 3px 20px;
    display: inline-block;
}

.DTitle a {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.DTitle2 {
    font-weight: bold;
    margin-bottom: 10px;
    ;
    margin-top: 0;
    background-color: ;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.DImageList {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #000;
    cursor: pointer;
    float: left;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.DCounselor .col-sm-4 {
    padding-right: 0;
}

.DReserveCounselor .col-sm-4 {
    padding-right: 0;
}

.DCategoryList {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #000;
    padding: 10px;
}

.news-item {
    background: #E7F8DF;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid#C9C9C9;
}

.news-item h5 {
    color: #0F9142;
}


/*Counselor*/

div.DCounselor {
    border: 1px solid #ccc;
    margin-top: 10px;
}

div.DCounselor:hover {
    background-color: #eee;
}

div.DCounselor img {
    margin: 2px 0;
}


/*MayorSpeech*/

p.pHighlight {
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (max-width:1024px) {
    .container {
        width: 1024px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width:736px) {
    .container {
        width: 736px;
    }
    .DScroll .col-sm-1 {
        font-size: 18px;
        padding: 6px 10px;
        width: 20%;
        float: left;
    }
    .DScroll .col-sm-11 {
        width: 80%;
        float: left;
    }
}

@media screen and (max-width:667px) {
    .container {
        width: 667px;
    }
}

@media screen and (max-width:640px) {
    .container {
        width: 640px;
    }
}

@media screen and (max-width:568px) {
    .container {
        width: 568px;
    }
}

@media screen and (max-width:480px) {
    .container {
        width: 480px;
    }
    .DScroll .col-sm-1 {
        width: 25%;
        float: left;
    }
    .DScroll .col-sm-11 {
        width: 75%;
        float: left;
    }
}

@media screen and (max-width:414px) {
    .container {
        width: 414px;
    }
}

@media screen and (max-width:375px) {
    .container {
        width: 375px;
    }
}

@media screen and (max-width:360px) {
    .container {
        width: 360px;
    }
    .DScroll .col-sm-1 {
        width: 30%;
        float: left;
    }
    .DScroll .col-sm-11 {
        width: 70%;
        float: left;
    }
}

@media screen and (max-width:320px) {
    .container {
        width: 320px;
    }
}